.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  width: calc(100vw - (#{$padding-standard} * 2));
  height: 40px;
  padding: $padding-standard;
  background-color: $white;
  box-shadow: 0 0 10px lightgrey;
  color: $main;
  z-index: 1;
  .headline {
    margin-top: 0;
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
  }
}