.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:  0 $padding-l $padding-s $padding-l;
  font-size: 12px;
  .nav-item {
    border-top: 2px solid transparent;
    display: flex;
    align-items: center;
    margin-right: calc(#{$padding-xxl} + #{$padding-s});
    color: $main-transparent;
    padding-top: calc(#{$padding-l} + 1px);
    .icon {
      margin-right: $padding-s;
      color: $main-transparent;
    }
    span {
      padding-top: $padding-xxs;
    }
  }
  .nav-item.router-link-exact-active {
    color: $main;
    border-top: 2px solid $main;
    .icon {
      color: $main;
    }
  }
}

.divider.profile-nav {
  margin-top: calc(#{$padding-xxl} + #{$padding-standard});
  margin-bottom: -1px;
}