@import '../variables/colors.scss';
@import '../variables/spacing.scss';

.error-container {
  margin: $padding-standard 0;
  padding: $padding-standard;
  border-radius: 10px;
  border: 1px solid $warning;
  color: $warning;
  background-color: $warning-transparent;
}

.error {
  border: 1px solid $warning;
  color: $warning;
  background-color: $warning-transparent;
}