/* variables */
@import './variables/colors.scss';
@import './variables/spacing.scss';

/* components */
@import './components/header.scss';
@import './components/footer.scss';
@import './components/post.scss';
@import './components/new-post.scss';
@import './components/post-square.scss';

/* pages */
@import './pages/login.scss';
@import './pages/register.scss';
@import './pages/profile.scss';

/* misc */
@import './misc/error.scss';
@import './misc/buttons.scss';

/* global */
@font-face {
  font-family: "Nunito";
  src: local("Nunito"),
    url('./assets/fonts/Nunito-Medium.ttf') format("truetype");
}

body {
  margin: 0;
  color: $text;
}

body,
button {
  font-family: 'Nunito';
}

input,
textarea {
  min-width: 185px;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
  border: 1px solid $main;
  margin-bottom: 10px;
  padding: 5px 10px;
  min-width: 185px;
}

.link {
  text-decoration: none;
  color: $main;
}

.main-content {
  margin-top: calc(#{$header} + #{$padding-standard});
  display: flex;
  justify-content: center;
}

.home {
  display: flex;
  flex-direction: column-reverse;
}