$main: #e0218a;
$main-slightly-light: #e43e99;
$main-light: #e95eaa;
$main-very-light: #fbe0ee;
$main-transparent: #e0218aa9;
$main-very-transparent: #e0218a3a;
$accent: #EAF7CF;
$accent-light: #f4fbe6;
$tertiary: #3cc1ff;
$warning: #6C3A5C;
$warning-transparent: #6c3a5c1e;
$warning-very-light: #f6f3f5;
$box-shadow: #6c3a5c1c;
$info: #89CFF0;
$border: #3030304f;

$text: #303030;
$text-light: #aaaaaa;

$white: #FFF;
$black: #000;
